In [1]:
# enable autocomplete
%config Completer.use_jedi = False

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# Investigate collaboration opportunities with insurance company

## Read NYPD data

In [6]:
df = pd.read_csv('data/Motor_Vehicle_Collisions_-_Crashes.csv')

/home/sibu/.conda/envs/citibike/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1921679 entries, 0 to 1921678
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 425.2+ MB

In [26]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,bike_involved
0,07/20/2022,1:25,NaN,NaN,40.835808,-73.89083,"(40.835808, -73.89083)",BOSTON ROAD,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,4547589,Sedan,Sedan,NaN,NaN,NaN,False
1,07/21/2022,5:20,NaN,NaN,NaN,NaN,NaN,FDR DRIVE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Speed,Unspecified,NaN,NaN,NaN,4548075,Sedan,Sedan,NaN,NaN,NaN,False
2,04/14/2021,5:32,NaN,NaN,NaN,NaN,NaN,BRONX WHITESTONE BRIDGE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,4407480,Sedan,Sedan,NaN,NaN,NaN,False
3,04/13/2021,21:35,BROOKLYN,11217.0,40.683580,-73.97617,"(40.68358, -73.97617)",NaN,NaN,620 ATLANTIC AVENUE,1.0,0.0,1,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,4407147,Sedan,NaN,NaN,NaN,NaN,False
4,04/15/2021,16:15,NaN,NaN,NaN,NaN,NaN,HUTCHINSON RIVER PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Pavement Slippery,NaN,NaN,NaN,NaN,4407665,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,False

In [29]:
pd.to_datetime(df['CRASH DATE']).min()

Timestamp('2012-07-01 00:00:00')

In [30]:
pd.to_datetime(df['CRASH DATE']).max()

Timestamp('2022-08-23 00:00:00')

## Number of cyclists injured

In [44]:
print(f"Total number of cyclists injured: {sum(df.loc[:,'NUMBER OF CYCLIST INJURED'])}")

Total number of cyclists injured: 47815

In [50]:
print(f"Percentage of crashes with cyclists injured: {sum(df.loc[:,'NUMBER OF CYCLIST INJURED'])/df.shape[0]*100:.2f}%")

Percentage of crashes with cyclists injured: 2.49%

## Number of cyclists killed

In [51]:
print(f"Total number of cyclists killed: {sum(df.loc[:,'NUMBER OF CYCLIST KILLED'])}")

Total number of cyclists killed: 198

In [52]:
print(f"Percentage of crashes with cyclists killed: {sum(df.loc[:,'NUMBER OF CYCLIST KILLED'])/df.shape[0]*100:.2f}%")

Percentage of crashes with cyclists killed: 0.01%

## Number of crashes that involve bikes with >1,000$ claims values

In [19]:
df['bike_involved'] = df.loc[:, ['VEHICLE TYPE CODE 1','VEHICLE TYPE CODE 2','VEHICLE TYPE CODE 3','VEHICLE TYPE CODE 4','VEHICLE TYPE CODE 5']].isin(['Bike']).any(1)

In [55]:
print(f"Total number of crashes (1,000$ damage): {df.loc[(df['NUMBER OF PERSONS KILLED']==0)&(df['NUMBER OF PERSONS INJURED']==0)&df['bike_involved'],:].shape[0]}")

Total number of crashes (1,000$ damage): 7192

In [56]:
print(f"Percentage of crashes (1,000$ damage): {df.loc[(df['NUMBER OF PERSONS KILLED']==0)&(df['NUMBER OF PERSONS INJURED']==0)&df['bike_involved'],:].shape[0]/df.shape[0]*100:.2f}%")

Percentage of crashes (1,000$ damage): 0.37%

In [36]:
df.loc[(df['NUMBER OF PERSONS KILLED']==0)&(df['NUMBER OF PERSONS INJURED']==0)&df['bike_involved'],:]

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,bike_involved
18,07/19/2022,16:12,MANHATTAN,10018.0,NaN,NaN,NaN,WEST 36 STREET,BROADWAY,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Lane Changing,Driver Inattention/Distraction,NaN,NaN,NaN,4548837,Motorcycle,Bike,NaN,NaN,NaN,True
136,04/14/2021,20:10,BROOKLYN,11238.0,40.688210,-73.965830,"(40.68821, -73.96583)",WASHINGTON AVENUE,LAFAYETTE AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,Unspecified,NaN,NaN,NaN,4407381,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN,True
229,04/16/2021,18:50,BROOKLYN,11218.0,40.633152,-73.977620,"(40.633152, -73.97762)",AVENUE F,MC DONALD AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4408150,Sedan,Bike,NaN,NaN,NaN,True
290,04/16/2021,21:30,BROOKLYN,11226.0,40.649788,-73.962200,"(40.649788, -73.9622)",CHURCH AVENUE,SAINT PAULS PLACE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4408037,Sedan,Bike,NaN,NaN,NaN,True
399,04/14/2021,6:10,QUEENS,11372.0,40.747340,-73.886730,"(40.74734, -73.88673)",ROOSEVELT AVENUE,79 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,Unspecified,NaN,NaN,NaN,4407242,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1154744,02/26/2016,13:40,NaN,NaN,40.729794,-74.002144,"(40.729794, -74.002144)",BLEECKER STREET,AVENUE OF THE AMERICAS,NaN,0.0,0.0,0,0,0,0,0,0,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,Unspecified,NaN,NaN,NaN,3437011,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN,True
1155795,03/14/2016,7:22,QUEENS,11379.0,40.717205,-73.884930,"(40.717205, -73.88493)",NaN,NaN,70-07 JUNIPER BOULEVARD SOUTH,0.0,0.0,0,0,0,0,0,0,Pavement Slippery,Pavement Slippery,NaN,NaN,NaN,3423068,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN,True
1193662,01/10/2016,17:05,QUEENS,11364.0,40.737587,-73.768410,"(40.737587, -73.76841)",73 AVENUE,CLEARVIEW EXPRESSWAY,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3596016,Bike,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,True
1371475,03/19/2015,16:44,NaN,NaN,40.776900,-73.941300,"(40.7769, -73.9413)",NaN,NaN,OCEAN PKWY,0.0,0.0,0,0,0,0,0,0,Lost Consciousness,Lost Consciousness,NaN,NaN,NaN,3415857,Bike,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,True
1512815,07/08/2014,0:00,MANHATTAN,10153,40.763940,-73.973250,"(40.76394, -73.97325)",NaN,NaN,767 5 AVENUE,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,3708120,Bike,Sedan,NaN,NaN,NaN,True